---
import Portada from '@/components/Portada.astro';
import { listArticleTitles} from '../../configFireBase'
import Layout from '../layouts/Layout.astro'
//import articleNames from 'nameArticles.json' assert { type: 'json' }


//await generateAndUploadContent();
const titles = await listArticleTitles();
---

<Layout title="Blog">
  <div class="justify-center items-center flex-col flex p-12 text-white gap-2">
    <h1 class="text-center text-2xl"><strong>BLOG</strong></h1>
    
    <div class="flex flex-wrap gap-5 mt-10 md:justify-start justify-center">
      {titles.slice(1).map((title, index) => (
        <Portada title={title}></Portada>
    ))}   
    </div>
  </div>
</Layout>
