---
// Import the necessary utilities from Astro


// Get the current URL path
const currentPath = Astro.url.pathname;
---

<header id="main-header" class="px-4 mx-auto max-m-xl lg:px-6 text-white flex justify-center items-center flex-col relative overflow-hidden">   
    <a href="/"><strong class="text-[200px] z-10 relative road-rage-regular font-black">SOCIAL CRASH</strong></a>
    <nav class="flex gap-2 items-center p-2 px-5 border-2 border-red-500 rounded-3xl">
        <!-- Loop through each category and check if it's the current page -->
        <a href="/blog/tecnologia" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/tecnologia') ? 'bg-red-500' : 'bg-gray-700')}>Tecnología</a>
        <a href="/blog/salud" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/salud') ? 'bg-red-500' : 'bg-gray-700')}>Salud</a>
        <a href="/blog/deportes" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/deportes') ? 'bg-red-500' : 'bg-gray-700')}>Deportes</a>
        <a href="/blog/educacion" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/educacion') ? 'bg-red-500' : 'bg-gray-700')}>Educación</a>
        <a href="/blog/politica" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/politica') ? 'bg-red-500' : 'bg-gray-700')}>Política</a>
        <a href="/blog/nutricion" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/nutricion') ? 'bg-red-500' : 'bg-gray-700')}>Nutrición</a>
        <a href="/blog/motor" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/motor') ? 'bg-red-500' : 'bg-gray-700')}>Motor</a>
        <a href="/blog/gaming" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/gaming') ? 'bg-red-500' : 'bg-gray-700')}>Gaming</a>
        <a href="/blog/viajes" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/viajes') ? 'bg-red-500' : 'bg-gray-700')}>Viajes</a>
        <a href="/blog/entretenimiento" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/entretenimiento') ? 'bg-red-500' : 'bg-gray-700')}>Entretenimiento</a>
        <a href="/blog/moda" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/moda') ? 'bg-red-500' : 'bg-gray-700')}>Moda</a>
        <a href="/blog/viajes" class={"category p-1 px-3 rounded-2xl hover:bg-red-500 transition-colors cursor-pointer " + (currentPath.includes('/blog/viajes') ? 'bg-red-500' : 'bg-gray-700')}>Viajes</a>
    </nav>
</header>
<header id="scroll-header" class="delay-[300ms] duration-[600ms] translate-y-[-200px] opacity-0 py-5 top-0 z-10 px-4 mx-auto max-m-xl w-[100%] lg:px-6 text-white flex justify-center items-center flex-col fixed overflow-hidden ">
    <div class="bg-red-700 w-[700px] p-2 border-2 border-red-500 flex relative justify-center items-center rounded-[50px]">
        <a href="/"><strong class="text-5xl z-10 relative road-rage-regular font-black">SOCIAL CRASH</strong></a>
        <span class="material-symbols-outlined absolute right-10 scale-150">menu</span>
    </div>   
</header>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const scrollHeader = document.getElementById('scroll-header');
        let lastScrollY = window.scrollY;

        if (scrollHeader) {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 100 && window.scrollY > lastScrollY) {
                    scrollHeader.style.transform = 'translateY(0)';
                    scrollHeader.style.opacity = '1';
                } else if (window.scrollY < 100 || window.scrollY < lastScrollY) {
                    scrollHeader.style.transform = 'translateY(-200px)';
                    scrollHeader.style.opacity = '0';
                }
                lastScrollY = window.scrollY;
            });
        } else {
            console.warn('Element with id "scroll-header" not found.');
        }
    });
    </script>
    
    