---
    const {title,image,cleanTitle,category} =  Astro.props;
---

<div class="relative flex w-[32.12%] flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 h-[25rem] shadow-md">
      <div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-none shadow-none bg-clip-border h-4/6">
        <img src={image} alt="ui/ux review check"/>
      </div>
      <div class="p-6">
        <h4 class="block font-black text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
          {title.replaceAll('-',' ')}
        </h4>       
      </div>      
</div>